<h3> Store's with coupons: <%= @coupons.count %> </h3>
<%= button_to "New store", { :action => "new" }, :method => :get %>

<% @coupons.each do |coup| %>
    <p><%= link_to coup.coupon_code, coupon_path(coup) %> - <%= coup.store %></p>
<% end %>


